#vue-app {
    margin-bottom: 200px;
}

#canvas {
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid #333;
}

span {
    /*background-color: crimson;*/
    display: inline-block;
    padding: 10px;
    /*color: #fff;*/
    margin: 10px 0;
    transition: all 0.3s ease;
}

.available span {
    background-color: limegreen;
}

.nearby span:after {
    content: 'nearby';
    margin-left: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
li.done {
  text-decoration: line-through;
  opacity: 0.7;
}